@font-face {
  font-family: 'brickable';
  src: url('../font/brickable.eot?66159055');
  src: url('../font/brickable.eot?66159055#iefix') format('embedded-opentype'),
       url('../font/brickable.woff2?66159055') format('woff2'),
       url('../font/brickable.woff?66159055') format('woff'),
       url('../font/brickable.ttf?66159055') format('truetype'),
       url('../font/brickable.svg?66159055#brickable') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'brickable';
    src: url('../font/brickable.svg?66159055#brickable') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "brickable";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user-secret:before { content: '\e800'; } /* '' */
.icon-ok-boxed:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-boxed:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-eye-off:before { content: '\e806'; } /* '' */
.icon-code:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-trash-1:before { content: '\e809'; } /* '' */
.icon-docs:before { content: '\e80a'; } /* '' */
.icon-box:before { content: '\e80b'; } /* '' */
.icon-gear:before { content: '\e80c'; } /* '' */
.icon-wrench:before { content: '\e80d'; } /* '' */
.icon-sliders:before { content: '\e80e'; } /* '' */
.icon-down-dir:before { content: '\e80f'; } /* '' */
.icon-up-dir:before { content: '\e810'; } /* '' */
.icon-left-dir:before { content: '\e811'; } /* '' */
.icon-right-dir:before { content: '\e812'; } /* '' */
.icon-dot-outline:before { content: '\e813'; } /* '' */
.icon-asterisk:before { content: '\e814'; } /* '' */
.icon-terminal:before { content: '\e815'; } /* '' */
.icon-screen:before { content: '\e816'; } /* '' */
.icon-doc-text:before { content: '\e817'; } /* '' */
.icon-down-bold:before { content: '\e818'; } /* '' */
.icon-left-bold:before { content: '\e819'; } /* '' */
.icon-right-bold:before { content: '\e81a'; } /* '' */
.icon-up-bold:before { content: '\e81b'; } /* '' */
.icon-progress-1:before { content: '\e81c'; } /* '' */
.icon-progress-2:before { content: '\e81d'; } /* '' */
.icon-progress-3:before { content: '\e81e'; } /* '' */
.icon-flow-cascade:before { content: '\e81f'; } /* '' */
.icon-flow-branch:before { content: '\e820'; } /* '' */
.icon-flow-tree:before { content: '\e821'; } /* '' */
.icon-flow-line:before { content: '\e822'; } /* '' */
.icon-flow-parallel:before { content: '\e823'; } /* '' */
.icon-grid:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-users:before { content: '\e826'; } /* '' */
.icon-web:before { content: '\e827'; } /* '' */
.icon-reply:before { content: '\e828'; } /* '' */
.icon-lines:before { content: '\e829'; } /* '' */
.icon-air:before { content: '\e82a'; } /* '' */
.icon-eq:before { content: '\e82b'; } /* '' */
.icon-outline:before { content: '\e82c'; } /* '' */
.icon-dot:before { content: '\e82d'; } /* '' */
.icon-down-circle:before { content: '\e82e'; } /* '' */
.icon-left-circle:before { content: '\e82f'; } /* '' */
.icon-right-circle:before { content: '\e830'; } /* '' */
.icon-up-circle:before { content: '\e831'; } /* '' */
.icon-cog-circled:before { content: '\e832'; } /* '' */
.icon-cancel:before { content: '\e833'; } /* '' */
.icon-ok-circled:before { content: '\e834'; } /* '' */
.icon-ok:before { content: '\e835'; } /* '' */
.icon-trash:before { content: '\e836'; } /* '' */
.icon-layers:before { content: '\e837'; } /* '' */
.icon-minus:before { content: '\e838'; } /* '' */
.icon-minus-boxed:before { content: '\e839'; } /* '' */
.icon-cancel-circled:before { content: '\e83a'; } /* '' */
.delete-box:before { content: '\e83b'; } /* '' */
.icon-desktop:before { content: '\e83c'; } /* '' */
.icon-laptop:before { content: '\e83d'; } /* '' */
.icon-tablet:before { content: '\e83e'; } /* '' */
.icon-mobile:before { content: '\e83f'; } /* '' */
.icon-publish:before { content: '\e840'; } /* '' */
.icon-window:before { content: '\e841'; } /* '' */
.icon-download-outline:before { content: '\e842'; } /* '' */
.icon-upload-outline:before { content: '\e843'; } /* '' */
.icon-download:before { content: '\e844'; } /* '' */
.icon-upload:before { content: '\e845'; } /* '' */
.icon-ipod:before { content: '\e846'; } /* '' */
.icon-picture:before { content: '\e847'; } /* '' */
.icon-plus-1:before { content: '\e848'; } /* '' */
.icon-circle:before { content: '\e849'; } /* '' */
.icon-star:before { content: '\e84a'; } /* '' */
.icon-arrows-cw:before { content: '\e84b'; } /* '' */
.icon-list-add:before { content: '\e84c'; } /* '' */
.icon-loop:before { content: '\e84d'; } /* '' */
.icon-doc-new:before { content: '\e84e'; } /* '' */
.icon-edit-alt:before { content: '\e84f'; } /* '' */
.icon-transport:before { content: '\e850'; } /* '' */
.icon-exit:before { content: '\e851'; } /* '' */
.icon-displeased:before { content: '\e852'; } /* '' */
.icon-config:before { content: '\e853'; } /* '' */
.icon-add-config:before { content: '\e854'; } /* '' */
.icon-add-model:before { content: '\e855'; } /* '' */
.icon-model:before { content: '\e856'; } /* '' */
.icon-add-module:before { content: '\e857'; } /* '' */
.icon-modules:before { content: '\e858'; } /* '' */
.icon-add-gear:before { content: '\e859'; } /* '' */
.icon-add-setting:before { content: '\e85a'; } /* '' */