$dot: '\0026';


.close-button{
	font-size: 18px;
	position: inherit;
}

.config, .model {
	font-family: straitregular;
	font-size: 14px;
	position: absolute;
	background-color: #eee;
	border: 1px solid #9B9B9B;

	min-width: 220px;
	transition: min-width 500ms ease;

	.editmode{

		min-width: 420px;

	}

	.header {
		cursor: -webkit-grab;
		background-color: #ddd;
		padding: 0.5rem 1rem;
		border-bottom: 1px solid #9B9B9B;

		&:before {
			content: $dot;
			position: absolute;
			left: -7px;
			top: 9px;
			font-size: 15px;
			color: #9B9B9B;
			font-family: brickable;
		}
		a{
			color: white;
			text-shadow: 2px 1px 2px rgba(0,0,0,.1);
			&.right{
				float: right;
			}
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0.5rem 2px;

		li {
			line-height: 1.5;
			margin: 0.2em 0px 0px;
			padding: 0px 0.5rem;
			&:after{
				position: absolute;
				color: #9B9B9B;
				font-family: brickable;
				font-size: 11px;
				margin-left: 7px;
				margin-top: 4px;
				right: -4px;
			}
			span{
				min-width: 70px;
				display: inline-block;
				max-width: 90px;
    			overflow: hidden;

			}
			span:last-of-type{
				width: 50%;
				max-width: 120px;
				float: right;
				white-space: nowrap;
			}
			span.narrow{
				font-family: straitnarrow;
				-webkit-font-smoothing: subpixel-antialiased;
				padding-right: 4em;
				overflow: hidden;
				white-space: nowrap;
			}

			&.text {
				span:nth-of-type(2){
					background-color: white;        
					padding-left: 1em;
				}
			}
			&.parent-id {
				span:nth-of-type(2){
					background-color: #E2E2E2;
					padding-left: .5em;
    				padding-right: .5em;
				}
				&:after{
					content: $dot;
				}
			}
			&.one-to-one {
				span:nth-of-type(2){
					background-color: #FFFFE9;
					padding-left: .5em;
    				padding-right: .5em;
				}
				&:after{
					content: $dot;
				}
			}
			&.one-to-many {
				span:nth-of-type(2){
					background-color: #EDFAFF;
					padding-left: .5em;
    				padding-right: .5em;
				}
				&:after{
					content: $dot;
				}
			}
			&.many-to-many {
				span:nth-of-type(2){
					background-color: #F2FFED;
					padding-left: .5em;
    				padding-right: .5em;
				}
				&:after{
					content: $dot;
				}
			}
		}
	}
}


.config{
	background-color: #EDFAFF;
	border: 1px solid #C5E3EF;
	.header {
		background-color: #CFEAF5;
		border-bottom: 1px solid #C5E3EF;
	}
}

#wires{

	position: absolute;

	svg{
		position: absolute;
	}
	
	.box-in{
		position: absolute;
		background-color: transparent;
		background-color: rgba(25,0,0, 0.2);
	}

}
