$tint_purple:  #7e4b82;
$tint_pink:	   #d66d93;
$tint_aqua:    #40bcbd;
$tint_yellow:  #e9cb5f;

$tone_purple:  #663d6b;
$tone_pink:    #af5978;
$tone_aqua:    #349a9b;
$tone_yellow:  #bfa64e;

$pale_purple:  #a581a8;
$pale_pink:    #e299b4;
$pale_aqua:    #7ad1d1;
$pale_yellow:  #f0db8f;

$tint_grey:    #aca8a8;
$tone_grey:    #949090;
$pale_grey:    #c5c0c0;

$tint_white:   #f6f0f0;
$tone_white:   #cac5c5;
$pale_white:   #ffffff;

$yellow: #FFFFE9;
$blue:   #EDFAFF;
$purple: #E9DDFB;
$white:  #FFFFFF;