#side_controls {
	position: fixed;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: #ECEDEF;
	z-index: 1000;
	width: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	border-right: 1px solid #C0C0C0;
	vertical-align: baseline;
	box-shadow: inset -2px 0 3px rgba(0,0,0,0.1);

	.side_button.active{
		background: rgba(53,43,162,0.5);	
	}

	.zoom-out-box:before{
	    transform: scale(.75) translate(-10px, -10px);
	}
	.zoom-in-box:before{
	    transform: translate(-15px, 10px) scale(.75) skewX(45deg);
	}

	[data-action="zoom-out"]{
		background-color: #EAEAEA;
	    transform: skewX(-45deg);
	    border-left: 1px solid #D2D2D2;
	    margin-top: -40px;
	    margin-left: 20px;
	    width: 60px;
	}
	ul{
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		border: 0;

		li{
			    overflow-x: hidden;
				text-align: center;
				_margin-bottom: 5px;
				border-bottom: 1px solid #E0E0E0;
			a{
				font-weight: bold;
				color: #333;
				text-decoration: none;
				display: block;
				position: relative;
				padding: .5em 0;
				transition: all 200ms ease;
				&:hover{
					color: white;
					background: rgba(0,0,0,0.12);
				}
				&:active{
					transition: all 20ms ease;
					color: white;
					background: rgba(53,43,162,0.5);
				}
				
			}

			&.bottom{
				position: absolute;
				width: 100%;
				bottom: 0;
				border-top: 1px solid #E0E0E0;
				padding: .5em 0;
				background-color: #ECEDEF;
				box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.1);

				&:hover{
					color: white;
					background: rgba(0,0,0,0.12);
				}
				&:hover span{
					color: white;
				}
				&:active{
					transition: all 20ms ease;
					color: white;
					background: rgba(53,43,162,0.5);
				}
			}
		}
		.upload{ 
			& input[type="file"] {
				position: fixed;
				top: -1000px;
			}

		}
	}
}