

@keyframes fade-down {
	from {
		margin-top: 0px;
		opacity: 0;
	}
	to {
		margin-top: 100px;
		opacity: 1;
	}
}

.reveal-modal-bg{
	background: rgba(0, 0, 0, 0.45) none repeat scroll 0% 0%;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 2000;
	display: none;
	&.open{
		display: block;
	}
}

.reveal{
	position: fixed;
	margin: 0 auto 0;
	z-index: 2100;
	display: none;
	min-width: 600px;
	width: 640px;
	margin: 5% auto;
	left: 0;
	right: 0;
}
.reveal.open{
	display: inline-block;
}


.reveal-overlay {
	background-color: rgba(10,10,10,.15);
	z-index: 2000;
}

.subModal{
	// transition: padding 0.15s ease-out;

	font-family: straitregular;
	font-size: 14px;
	background-color: #eee;
	outline-color: rgba(140,140,140,0);
	outline-style: none;
	-webkit-focus-ring-color: transparant;
	padding: 0 0 1em;
	border: 1px solid #ADADAD;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 100px;
	overflow: hidden;
	// animation-name: fade-down;
	// animation-duration: 400ms;

	input{
		box-shadow: initial;
		width: 100%;
	}



	.button{
		display: inline-block;
		text-align: center;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all 150ms ease-out;
		border: 1px solid transparent;
		border-radius: 0;
		padding: .25rem .75rem;
		margin: 0 .25rem 0 0;
		font-size: .9rem;
		background: #E6F5EC;
		border: 1px solid #ADADAD;
		&.grey, &.gray{
			background: #ECECEC;
		}
		[class*="icon-"]{
			margin-left: -7px;
		}
		&:active{
			box-shadow: inset rgba(0, 0, 0, 0.2) 2px 2px 10px;
		}

	}

	.right{
		float: right;
	}

	a {
		color: #2D2D2D;
	}

	.blueprint{
		display: none;
	}

	.header{
		padding: 1rem;
		background-color: #D8D8D8;
		border-bottom: 1px solid #ADADAD;
		min-height: 36px;
		input{
			border: 1px solid #F1F1F1;
			background-color: #EEEEEE;
			width: 100%;
			&:focus{
				background-color: rgba(255,255,255,0.2);
			}
		}
		span:first-of-type{
			width: 78%;
		}

		span.right{
			margin-left: 8px;
			margin-right: 0;			
		}
		span.select{
			background-color: #EEE;
			background-position: right center;
    		background-repeat: no-repeat;
        	background-image: url("/img/select.png");
        	min-width: 60px;
    		max-height: 20px;
		}

		&.blue{
			background-color: #CFEAF5;
		}

	}
	.footer:before{
		clear: both;
	}

	label{
		line-height: inherit;
		margin-left: 0px;
		margin-right: 8px;
		margin-top: -1px;
	}

	ul:first-of-type{ padding-top: 1em; }
	ul{
		list-style: none;
		margin: 0;
		padding: 0 1em;
		border: 0;
		
		li{
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
			border: 0;
			height: 24px;
		}
	}

	input, select{
		background: transparent;
		font-size: 14px;
		color: #222;
		height: 20px;
		border: 0;
		padding: 0 6px;
		margin: 0;
	}

	input[type="checkbox"]{
		margin-left: 3px;
		margin-right: 3px;
		vertical-align: bottom;
	}

	span{
//		float: left;
		display: inline-block;
		margin-right: 8px;
		font-family: straitregular;
	}
	
	
	select[name="id_type[]"]{
		width: 100px;
		background-image: url('/img/select.png');
		background-position: right center;
		background-repeat: no-repeat;
	}
	
	select, label, input[type="checkbox"], .actions{
		cursor: pointer;
	}

	.columns{

		margin-bottom: 3px!important;

		li { width: 100%; }
		
		span{
			width: 100px;
			background-position: right center;
			background-repeat: no-repeat;

			&.title{
				width: 200px;
			}	
		}
		span:nth-of-type(7){ width: 120px; }
		span:nth-of-type(1), span.actions{ width: 20px; }

		.id			span{ background-color: $white;  }
		.constant	span{ background-color: $white;  }
		.date		span{ background-color: $white;  }
		.relation	span{ background-color: $yellow; }
		.config		span{ background-color: $blue;   }
		.enum		span{ background-color: $blue;   }
		.dynum		span{ background-color: $purple; }

		.id			.lines-box{ color: $white;  }
		.constant	.lines-box{ color: $white;  }
		.date		.lines-box{ color: $white;  }
		.relation	.lines-box{ color: $yellow; }
		.config		.lines-box{ color: $blue;   }
		.enum		.lines-box{ color: $blue;   }
		.dynum		.lines-box{ color: $purple; }

		span.groups	    ,
		span.constants	,
		span.dates		,
		span.relations	,
		span.configs	,
		span.enums		{ background-image: url('/img/select.png'); }

		li.module span.name{
			background-color: white;
		}

		li.constant{
			.value, .dates, .relations, .configs, .enums, .dynums, .models { display: none; }
		}
		li.date{
			.value, .constants, .relations, .configs, .enums, .dynums, .models { display: none; }
		}
		li.relation{
			.value, .dates, .constants, .configs, .enums, .dynums { display: none; }
		}
		li.config{
			.dates, .relations, .constants, .enums, .dynums, .models { display: none; }
		}
		li.enum{
			.dates, .relations, .configs, .constants, .dynums, .models { display: none; }
		}
		li.dynum{
			.dates, .relations, .configs, .enums, .constants, .models { display: none; }
		}

		span.actions{
			float:right;
			background-color: transparent;
			color: #444444;
		}


		span:first-of-type{
			background-color: transparent;
			clear:both;
		}

		.lines-box{
			cursor: -webkit-grab;
		}

	}
    input.white{
		background: rgba(255, 255, 255, 0.69) !important;
	
	}
	
}

#projectModal{
	 background-color: #ECE7EF;
	.header{
    	background-color: #DAD6DC;
    	border-bottom: 1px solid #ADADAD;
    }
    ul.project li { width: 100%; }
}

span.sure{
	float: right;
	overflow: hidden;
	white-space: nowrap;
	max-width: 0px;
	margin: 0;
	transition: max-width 200ms;
	
	label{
		display: inline-block;
		margin-left: 5px;
	}
	a{
		margin: 0;
	}
	.button.red{ background: #F5E6E6; }
	.button.purple{ background: #AFAFFF; }

	&.open{
		max-width: 300px;
	}		
}