
.launch-box:before {
    content: '\E850';
    transform: rotate(45deg);
}

.label {
    display: inline-block;
//    padding: .33333rem .5rem;
//    font-size: .8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: 0;
//    background: #2199e8;
    color: #fefefe;
}

span.project input {
	border: 1px solid #ADADAD;
	background: #ECE7EF;
	width: 100%;
}

.projects{

	[type=text]{
		margin:0;
		padding:6px 1em;
		font-size: 1.5em;
		float: left;
		width: 80%;
		border: 1px solid #FEFEFE;
	}

	.label{
		&:hover{
			& > .icon-transport:before{
				transform: rotateZ(15deg);
			}
		}
	}

	span.sure .button.purple{
		background: $tone_purple;
    	padding: 2px 5px;
	    color: white;
	}

	.namerow{
		max-height: 0px;
		overflow: hidden;
		transition: max-height 500ms;
		position: relative;

		.valifail{
				background-color: #F0F8FF;
				position: absolute;
				width: 50px;
				height: 50px;
				border-top-left-radius: 80%;
				border-bottom-left-radius: 40%;
				right: 20%;
				display: none;
				&.show{
					display: inline-block;
				}
				.icon-displeased{
					margin-top: 13px;
					position: absolute;
					right: 9px;
					color: $tone_aqua;
				}
		}

		&.open{
			max-height: 50px;
			margin-top: 1em;
		}
		.button{
			margin: 0;
			padding: 13px;
			font-size: 22px;
			width: 20%;
			float: right;
			background-color: aliceblue;
			color: $tone_aqua;
			height: 50px;
			&:hover{
				background-color: $pale_aqua;
			}
		}
	}

	.header{

		margin-top: 2em;
		margin-bottom: 1em;

	}
	ul{
		list-style-type: none;
		margin: 0;
		
		li{
			padding: .5em;
			margin: .75em;
			background-color: $tint_purple;
			cursor: pointer;
			border-radius: 2px;
			border: 1px solid $tone_purple;
			
			color: $tint_white;

			.trash-lid-box{
				float: right;
			}

			[data-delete]:hover{
				transform: rotateZ(15deg);
			}

			&.new{
				background-color: $tint_aqua;
				border: 1px solid $tone_aqua;
				overflow: hidden;
				& .icon-transport:before{
					transition: transform 500ms;
				}
			}
		
			.full-width{
				margin-top: 1em;
				width: 100%;
			}

			a{
				color: $tint_white;
			}
		
		}


	}

}