.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-right {
    float: right!important;
}
.navbar-default{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
ul.nav{
	margin-bottom: .3rem;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
        line-height: 20px;
        position: relative;
    display: block;
    padding: 10px 15px;
}
.panel-body {
    padding: 15px;
}

.col-md-4{
	width: 33.33333333%;
}
.col-md-8{
	width: 66.66666667%;
}
.col-md-offset-2{
	margin-left: 16.66666667%;
}

.has-error{
	margin-bottom: 1em;
	input{
		margin-bottom: 0;
		border: red 1px solid;
	}
}

.btn {
	box-sizing: border-box;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}